.course-hero {
  background: #1c1d1f; /* gelap ala Udemy */
  color: #fff;
}

.course-hero h1 {
  font-size: 2rem;
  font-weight: 700;
}

.course-hero .lead {
  font-size: 1.1rem;
  color: #ddd;
}

.sidebar-card h3 {
  color: #944e25; /* pakai warna brand kamu */
}
